@font-face {
  font-family: 'source_sans_proregular';
  src: url("fonts/sourcesanspro-regular.woff2") format("woff2"), url("fonts/sourcesanspro-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'source_sans_proregular', sans-serif;
  margin: 0; }

hr {
  display: none; }

a {
  color: #2a2a2a;
  text-decoration: none; }

.gradient {
  background: #ec9232;
  background: -moz-linear-gradient(left, #ec9232 0%, #d14d3a 25%, #c3233f 50%, #a5235a 75%, #2f2762 100%);
  background: -webkit-linear-gradient(left, #ec9232 0%, #d14d3a 25%, #c3233f 50%, #a5235a 75%, #2f2762 100%);
  background: linear-gradient(to right, #ec9232 0%, #d14d3a 25%, #c3233f 50%, #a5235a 75%, #2f2762 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec9232', endColorstr='#2f2762',GradientType=1 );
  height: 1px;
  margin: 0 auto; }
  .gradient.top {
    left: 0;
    max-width: 100%;
    position: fixed;
    top: 0;
    width: 100%; }

.header {
  background: #f9f9f9;
  margin: 0 auto;
  clear: both; }
  .header br {
    clear: both;
    visibility: hidden; }
  .header__wrapper {
    clear: both;
    margin: 0 auto;
    max-width: 900px;
    position: relative;
    width: 85%; }
    @media screen and (max-width: 600px) {
      .header__wrapper {
        width: 100%; } }
  .header__home {
    display: inline-block;
    left: 0;
    padding: 13px 15px 9px;
    position: absolute;
    top: 2px; }
  .header__breadcrumbs {
    clear: both;
    float: left;
    font-size: 14px;
    height: 18px;
    margin-bottom: 14px;
    margin-left: 46px;
    padding-top: 14px;
    overflow: hidden; }
    .header__breadcrumbs a:hover {
      text-decoration: underline; }
  .header #homelink {
    background: url("icons/home.png") no-repeat;
    display: block;
    height: 16px;
    width: 16px; }

.files {
  margin-top: 1.3rem; }
  .files table {
    border-collapse: collapse;
    margin: 0 auto;
    max-width: 900px;
    width: 85%; }
    @media screen and (max-width: 600px) {
      .files table {
        width: 100%; } }
    .files table tr {
      background: transparent;
      border-bottom: 1px solid #e9e9e9;
      border-top: 1px solid #e9e9e9; }
      .files table tr:nth-child(2), .files table tr:nth-child(1), .files table tr:last-child {
        display: none; }
      .files table tr:nth-child(2) {
        border-bottom: 1px white solid; }
      .files table tr:nth-child(3) {
        border-top: 1px white solid; }
      .files table tr:hover td {
        background: #f9fdff;
        border-top: #d2f4ff 1px solid;
        border-bottom: #d2f4ff 1px solid;
        z-index: 999; }
      .files table tr td {
        font-size: 14px;
        padding: 0; }
      .files table tr td:nth-child(1) a,
      .files table tr td:nth-child(2) a {
        display: block;
        width: 100%;
        height: 100%; }
      .files table tr td:nth-child(1) {
        width: 10px; }
        .files table tr td:nth-child(1) a {
          width: 16px;
          padding: 7px 15px 3px 15px; }
      .files table tr td:nth-child(2) {
        line-height: 1rem; }
        .files table tr td:nth-child(2) a {
          padding: 6px 0; }
      .files table tr th:nth-child(3),
      .files table tr td:nth-child(3) {
        background: lightsteelblue;
        display: none; }
      .files table tr td:nth-child(4) {
        width: 10px;
        padding: 0.4rem 15px 0.2rem 20px; }
        @media screen and (max-width: 600px) {
          .files table tr td:nth-child(4) {
            display: none; } }

.footer {
  padding-top: 1.2rem;
  padding-bottom: 1.0rem;
  text-align: center; }
  .footer a {
    cursor: default;
    background: url("favicons/logo28x28x.png") no-repeat;
    display: inline-block;
    height: 28px;
    width: 28px; }
