@font-face {
  font-family: 'source_sans_proregular';
  src: url('fonts/sourcesanspro-regular.woff2') format('woff2'),
  url('fonts/sourcesanspro-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'source_sans_proregular', sans-serif;
  margin: 0;
}

hr {
  display: none;
}
a {
  color: #2a2a2a;
  text-decoration: none;
}

.gradient {
  background: #ec9232;
  background: -moz-linear-gradient(left,  #ec9232 0%, #d14d3a 25%, #c3233f 50%, #a5235a 75%, #2f2762 100%);
  background: -webkit-linear-gradient(left,  #ec9232 0%,#d14d3a 25%,#c3233f 50%,#a5235a 75%,#2f2762 100%);
  background: linear-gradient(to right,  #ec9232 0%,#d14d3a 25%,#c3233f 50%,#a5235a 75%,#2f2762 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec9232', endColorstr='#2f2762',GradientType=1 );
  height: 1px;
  margin: 0 auto;
  &.top {
    left: 0;
    max-width: 100%;
    position: fixed;
    top:0;
    width: 100%;
  }
}
.header {
  background: #f9f9f9;
  margin: 0 auto;
  clear: both;
  br {
    clear: both;
    visibility: hidden;
  }
  &__wrapper {
    clear: both;
    margin: 0 auto;
    max-width: 900px;
    position: relative;
    width: 85%;
    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }
  &__home {
    display: inline-block;
    left: 0;
    padding: 13px 15px 9px;
    position: absolute;
    top: 2px;
  }
  &__breadcrumbs {
    clear: both;
    float: left;
    font-size: 14px;
    height: 18px;
    margin-bottom: 14px;
    margin-left: 46px;
    padding-top: 14px;
    overflow: hidden;
    a:hover {
      text-decoration: underline;
    }
  }
}
.files {
  margin-top: 1.3rem;
  table {
    border-collapse:collapse;
    margin: 0 auto;
    max-width: 900px;
    width: 85%;
    @media screen and (max-width: 600px) {
      width: 100%;
    }
    tr {
      background: transparent;
      border-bottom: 1px solid #e9e9e9;
      border-top: 1px solid #e9e9e9;
      &:nth-child(2), &:nth-child(1), &:last-child {
        display: none;
      }
      &:nth-child(2) {
        border-bottom: 1px white solid;
      }
      &:nth-child(3) {
        border-top: 1px white solid;
      }
      &:hover td {
        background: #f9fdff;
        border-top: #d2f4ff 1px solid;
        border-bottom: #d2f4ff 1px solid;
        z-index: 999;
      }
      td {
        font-size: 14px;
        padding: 0;
      }
      td:nth-child(1),
      td:nth-child(2) {
        a {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      td:nth-child(1) {
        width: 10px;
        a {
          width: 16px;
          padding: 7px 15px 3px 15px;
        }
      }
      td:nth-child(2) {
        line-height: 1rem;
        a {
          padding: 6px 0;
        }
      }
      th:nth-child(3),
      td:nth-child(3) {
        background: lightsteelblue;
        display: none;
      }
      td:nth-child(4) {
        width: 10px;
        padding: 0.4rem 15px 0.2rem 20px;
        @media screen and (max-width: 600px) {
          display: none;
        }
      }
    }
  }
}
.footer {
  padding-top: 1.2rem;
  padding-bottom: 1.0rem;
  text-align: center;
  a {
    cursor: default;
  }
}







//.files tr:nth-last-child(2) {
//  border-bottom: 1px white solid;;
//}
//.files tr td:nth-child(1), .files tr td:nth-child(2) {
//  a {
//    display: block;
//    width: 100%;
//    height: 100%;
//  }
//}
//.files tr td:nth-child(1) {
//  //padding: 0.5rem 1rem 0.25rem 1rem;
//  //background: lightcoral;
//  width: 10px;
//
//  a {
//    width: 16px;
//    padding: 7px 15px 3px 15px;
//  }
//}
//.files tr td:nth-child(2) {
//  //padding: 0.5rem 1rem 0.25rem 1rem;
//  //background: lightgoldenrodyellow;
//  line-height: 1rem;
//  //line-height: 30px;
//  a {
//    padding: 6px 0;
//  }
//}
//.files tr th:nth-child(3), .files tr td:nth-child(3) {
//  //padding: 0.5rem 1rem 0.25rem 1rem;
//  background: lightsteelblue;
//  //width: 0;
//  display: none;
//}
//.files tr td:nth-child(4) {
//  //padding: 0.5rem 1rem 0.25rem 1rem;
//  //background: lightsalmon;
//width: 10px;
//  padding: 0.4rem 15px 0.2rem 20px;
//  @media screen and (max-width: 600px) {
//    display: none;
//  }
//}
//.files tr td {
//  font-size: 14px;
//  //transition: background 0.1s ease;
//padding: 0;
//}
//.files tr:hover td {
//  border-top: #d2f4ff 1px solid;
//  //border-top: #ffffff 1px solid;d9d9d9
//  border-bottom: #d2f4ff 1px solid;
//  z-index: 9999;
//  //background: #f9f9f9;
//  background: #f9fdff;
//}
//








